<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=8" >
		<title>公墓陵园</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="images/icon/gm-favicon.ico">
		<link href="css/bese.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="script/UI.js"></script>
		<script type="text/javascript" src="script/commen.js"></script>
        
	</head>
	<body>
		<div class="header header-topNav">
			<div class="topNav">
				<div class="wrapper clearfix">
					<div class="topNav_l">
						<ul>
							<li><a href=""><img src="images/icon/logo.png" width="100px"/></a></li>
				            <li><a href="">首页 </a></li>
				            <li><a href="">公墓/陵园</a></li>
				            <li><a href="">殡仪服务</a></li>
				            <li><a href="">风水堪舆</a></li>
				            <li><a href="">百科 </a></li>
				            <li><a href="">文章</a></li>
				            <li><a href="">特色服务</a></li>
						</ul>
					</div>
				<!--登陆注册类-->
	            <ul class="topNav_r clearfix">
	            	<li><a href="">登录</a></li>
		            <li><a href="">注册</a></li>
		            <li class="userBox hide"><p class="g9">你好，<span class="userName">xxxx</span></p></li>
		            <li class="exit line-r hide"><a href="">退出</a></li>
	                <li class="service-peo noBag">
	                    <a href="javascript:;" class="servBtn">客户服务<span class="iconfont icon-iconfonticonfontjiantoucopy icon-up"></span><span class="iconfont icon-iconfonticonfontjiantou2 icon-down"></span></a>
	                    <div class="serviceBox">
	                        <div class="tit blue-f">咨询热线：40086-95522</div>
	                        <ul class="clearfix">
	                        	<li><a href="#"><em class="iconfont icon-iconfonttuanduicheng"></em><span>关于我们</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontweibiaoti5"></em><span>特色服务</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontliuyanban"></em><span>客户留言</span></a></li>
	                        </ul>
	                        <div class="sm">
	                        	<img src="images/pro/an-wx.jpg" class="fl"/>
	                        	<div class="tt fr pt15">
	                        		扫描二维码 <br/>关注官方微信
	                        	</div>
	                        </div>
	                    </div>
	                </li>
	            </ul>
				</div>
			</div>
		</div>
		<div class="header header-logoSearch">
			<div class="logo-search">
				<div class="wrapper clearfix">
					<div class="logo pt15">
						<a href=""><img src="images/icon/ly-logo.png"/></a>
					</div>
					<div class="city-box">
						<div class="changeCity" id="changeCity">
		                    <div class="bgDiv"></div>
		                    <div class="citys">
		                        <span class="cityName">北京 <span class="changeCityTag">[切换城市]</span></span>
		                    </div>
		                    <div class="item-CityList">
		                        <div class="cl-h">请选择所在的收货城市</div>
		                        <div class="cl-b">
		                            <ul class="cf">
		                                <li><a href="javascript:void(0);">北京</a></li>
		                                <li><a href="javascript:void(0);">上海</a></li>
		                                <li><a href="javascript:void(0);">广州</a></li>
		                                <li><a href="javascript:void(0);">南京</a></li>
		                                <li><a href="javascript:void(0);">深圳</a></li>
		                                <li class="active"><a href="javascript:void(0);">成都</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
					</div>
					<div class="searchBox">
						<div class="select-list">
							<select id="select-opt">
								<option>陵园墓地</option>
								<option value="1">陵园墓地1</option>
								<option value="2">陵园墓地2</option>
								<option value="3" selected>陵园墓地3</option>
								<option value="4">陵园墓地4</option>
							</select>
						</div>
						<div class="input-text">
							<input class="form-control" type="search" placeholder="请输入你是搜索的关键词"/>

						</div>
						<div class="search-btn">
							<input type="button" value="搜索" class="searchBtn"/>
						</div>
					</div>
					<div class="phone-number blue-f clearfix">
						<span class="iconfont icon-iconfontdianhua icon-dh"></span>
						<div class="info">
							<p>全国24小时服务热线</p>
							<p class="nu">4001234567</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header header-meun">
			<!--菜单-->
			<div class="navMenu">
				<div class="wrapper">
					<ul class="clearfix">
						<li><a href="#">首页</a></li>
						<li class="curr"><a href="#">公墓陵园</a></li>
						<li><a href="#">殡仪服务</a></li>
						<li><a href="#">风水堪舆</a></li>
						<li><a href="#">百科</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">特色服务</a></li>
						<li><a href="#">用品商城</a></li>
					</ul>
				</div>
			</div>
			 <!--右侧-->
			<div class="rightNav">
		        <div class="navBox">
		            <div class="centerItem">
		                <ul>
		                  	<li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontkefu"></em>客服</a>
		                        <div class="tags">
		                            <div class="tagsBox">24小时在线</div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                    	<a href="javascript:;"><em class="iconfont icon-iconfontweixin"></em>微信</a>
		                    	<div class="tags tags-ma">
		                            <div class="tagsBox"><img src="images/pro/an-wx.jpg" class="img"/></div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontdianhua"></em>电话</a>
		                        <div class="tags">
		                            <div class="tagsBox">4001234567</div>
		                        </div>
		                    </li>
		                </ul>
		            </div>
		            <div class="backToTop">
		               <a href="javascript:void(0);"><em class="iconfont icon-iconfontgotop"></em></a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--header-end-->
		<div class="site-nav">
			<div class="wrapper">
				<i class="iconfont icon-dingwei"></i><a href="">公墓之家 </a> &gt; <a href="">公墓陵园</a> &gt; 购墓风水
			</div>
		</div>
		
		<div class="main-con">
			<div class="wrapper">
				<div class="ly-lr-con clearfix">
					<div class="left-con border-all">
						<h1 class="title">购墓风水</h1>
						<div class="list-new">
							<div class="item">
								<div class="img"><img src="images/pro/ly-img12.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img13.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img12.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img13.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img12.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img13.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img12.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img13.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="img"><img src="images/pro/ly-img13.jpg"/></div>
								<div class="info">
									<h2><a href="">买墓之前你需要了解的几个问题</a></h2>
									<p>墓地的价格在过去的四年间飞速上涨，如果按照平方米计算，墓地单价早将房价远远地抛在了后面。墓地价格上涨了，但各地民政部门对墓地的管理要求并不同，在购买之前，你需要了解下面这些方面的信息。</p>
									<div class="c-r-l clearfix">
										<div class="time fl">发布日期：2016-03-28 16:16:29</div>
										<div class="read fr">已被阅读：1626次</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tcdPageCode" style="margin: 40px 0 20px 0;">
							<span class="pageB disabled">46条纪录</span>
							<span class="current">1</span>
							<a href="javascript:void(0);" class="tcdNumber">2</a>
							<a href="javascript:void(0);" class="tcdNumber">3</a>
							<a href="javascript:void(0);" class="tcdNumber">4</a>
							<a href="javascript:void(0);" class="tcdNumber">5</a>
							<a href="javascript:void(0);" class="pageB nextPage">下一页</a>
						</div>
					</div>
					<!--右侧内容-->
					<div class="sideBar">
						<div class="order-box mb20">
							<h2><img src="images/icon/free-tilte.png"/></h2>
							<div class="info-list">
								<ul>
									<li>
										<div class="icon-b"><i class="iconfont icon-iconfontliuyanban"></i></div>
										<div class="tx">
											<div class="title">专业咨询</div>
											<p>为家属提供多重解决方案</p>
										</div>
									</li>
									<li>
										<div class="icon-b"><i class="iconfont icon-iconfontliuyanban"></i></div>
										<div class="tx">
											<div class="title">免费专车接送</div>
											<p>为家属提供多重解决方案</p>
										</div>
									</li>
									<li>
										<div class="icon-b"><i class="iconfont icon-iconfontliuyanban"></i></div>
										<div class="tx">
											<div class="title">贴心服务</div>
											<p>全程陪同家属参观选购</p>
										</div>
									</li>
								</ul>
								<div class="mt15 mrl20">
									<a href="" class="blueBtn dis-block">马上预约</a>
								</div>
							</div>
						</div>
						<h2 class="clearfix"><span class="l-t">优质墓地排行榜</span> <a href="#" class="more-link-s fr">更多 ></a></h2>
						<div class="info">
							<div class="title-img">
								<div class="round-row">
									<div class="col col-40">
										<span class="red-bg rank-c">1</span>
										<img src="images/pro/ly-img13.jpg" />
									</div>
									<div class="col col-60">
										<div class="pl10">墓地风水</div>
										<div class="pl10 orange-f mt5">￥88343起</div>
										<div class="pl10 font-12 ellipsis-f">天然如龙之九子,中国传统治</div>
									</div>
								</div>
							</div>
							<ul class="list list-no">
								<li><span class="orange-bg rank-c">2</span><a href="#">中国传统治丧传统中国传统治丧传统中国传中国传统治</a></li>
								<li><span class="orange-bg rank-c">3</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">4</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">5</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">6</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">7</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">8</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
							</ul>
						</div>
						<h2 class="clearfix"><span class="l-t">墓地风水</span> <a href="#" class="more-link-s fr">更多 ></a></h2>
						<div class="info">
							<div class="title-img">
								<img src="images/pro/ly-img10.jpg" />
								<div class="t">中国传统治丧传统中国传统治丧传统中国传</div>
							</div>
							<ul class="list">
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传中国传统治</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
							</ul>
						</div>
						<div class="info-ad">
							<a href=""><img src="images/pro/ly-img7.jpg"/></a>
							<a href=""><img src="images/pro/ly-img8.jpg"/></a>
						</div>
						<h2 class="clearfix mt20"><span class="l-t">墓地指面</span> <a href="#" class="more-link-s fr">更多 ></a></h2>
						<div class="info">
							<ul class="list">
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传中国传统治</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				
				<!--友情链接-->
				<div class="friend-link mt40">
					<h2>友情链接</h2>
					<div class="link-more">
						<a href="#">四川殡葬 </a>
						<a href="#">绵阳殡葬</a>
						<a href="#">重庆殡葬</a>
						<a href="#">开阳殡葬</a>
						<a href="#">西安殡葬</a>
						<a href="#">舟山殡葬</a>
						<a href="#">淮海殡葬</a>
						<a href="#">北海殡葬</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrapper clearfix">
				<div class="col-fl tips-note">
					<dl>
						<dt>平台功能</dt>
						<dd><a href="#">天使服务</a></dd>
						<dd><a href="#">生前契约 </a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>服务指南</dt>
						<dd><a href="#">服务预约流程</a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>商家合作</dt>
						<dd><a href="#">合作流程</a></dd>
						<dd><a href="#">合作政策</a></dd>
						<dd><a href="#">商家评级体系</a></dd>
					</dl>
				</div>
				<div class="col-fl media-box">
					<div class="weixin media-icon">
						<em class="iconfont icon-weixin"></em>
						微信公众号
					</div>
					<div class="weixin media-icon">
						<em class="iconfont icon-weibo"></em>
						官方微博
					</div>
				</div>
				<div class="col-fl e-wm">
					<div class="img">
						<img src="images/pro/an-wx.jpg"/>
					</div>
					<p>至终守护 &nbsp; &nbsp; 温暖如家</p>
				</div>
				
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p class="mb5">copyright2012-2016  公墓之家，ALLRights  Reserved  ICP备案：蜀ICP备140009697号-2</p>
				<img src="images/icon/footer.jpg" />
			</div>
		</div>
		<!--下拉菜单-->
		<link href="script/select/selectpick.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/select/selectpick.js"></script>
		
		<script type="text/javascript">
		 //下拉选择
			$("#select-opt").selectpick({container:'.select-list',onSelect:function(value,text){
				enAble();}
			});
		</script>
	</body>
	
</html>
