<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=8" >
		<title>公墓陵园</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="images/icon/gm-favicon.ico">
		<link href="css/bese.css" rel="stylesheet" type="text/css" />
		<link href="css/index.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="script/UI.js"></script>
		<script type="text/javascript" src="script/commen.js"></script>
        
	</head>
	<body>
		<!--header-top-->
		<div class="header header-topNav">
			<div class="topNav">
				<div class="wrapper clearfix">
					<div class="topNav_l">
						<ul>
							<li><a href=""><img src="images/icon/logo.png" width="100px"/></a></li>
				            <li><a href="">首页 </a></li>
				            <li><a href="">公墓/陵园</a></li>
				            <li><a href="">殡仪服务</a></li>
				            <li><a href="">风水堪舆</a></li>
				            <li><a href="">百科 </a></li>
				            <li><a href="">文章</a></li>
				            <li><a href="">特色服务</a></li>
						</ul>
					</div>
				<!--登陆注册类-->
	            <ul class="topNav_r clearfix">
	            	<li><a href="">登录</a></li>
		            <li><a href="">注册</a></li>
		            <li class="userBox hide"><p class="g9">你好，<span class="userName">xxxx</span></p></li>
		            <li class="exit line-r hide"><a href="">退出</a></li>
	                <li class="service-peo noBag">
	                    <a href="javascript:;" class="servBtn">客户服务<span class="iconfont icon-iconfonticonfontjiantoucopy icon-up"></span><span class="iconfont icon-iconfonticonfontjiantou2 icon-down"></span></a>
	                    <div class="serviceBox">
	                        <div class="tit blue-f">咨询热线：40086-95522</div>
	                        <ul class="clearfix">
	                        	<li><a href="#"><em class="iconfont icon-iconfonttuanduicheng"></em><span>关于我们</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontweibiaoti5"></em><span>特色服务</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontliuyanban"></em><span>客户留言</span></a></li>
	                        </ul>
	                        <div class="sm">
	                        	<img src="images/pro/an-wx.jpg" class="fl"/>
	                        	<div class="tt fr pt15">
	                        		扫描二维码 <br/>关注官方微信
	                        	</div>
	                        </div>
	                    </div>
	                </li>
	            </ul>
				</div>
			</div>
		</div>
		<!--顶部推荐-->
		<div class="recommend-top clearfix">
			<div class="wrapper">
				<div class="left-con">
					<div class="round-row">
						<div class="col col-30"><img src="images/pro/recommend-topimg.jpg"/></div>
						<div class="col col-50">
							<div class="tit clearfix">
								<h3 class="fl ellipsis-f name">长松寺公墓</h3>
								<dl class="star fl star-ly">
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingfenxingban"></dd>
									<dd class="iconfont icon-pingjiaxingxing1"></dd>
									<dt>4.6</dt>
								</dl>
								<div class="fr approveBox">
									<span class="orangeBtn-line btn">认证</span>
									<span class="greenBtn-line btn">优惠</span>
									<span class="redBtn-line btn">团购</span>
								</div>
							</div>
							<div class="themBtn mt15"><a href="" class="blueBtn-line btn">唐风主题公墓</a></div>
							<div class="mt15"><a href="">官网> </a></div>
						</div>
						<div class="col col-20 groupBtn">
							<div class="btn"><a href="" class="green-gBtn">团购活动</a></div>
							<div class="btn"><a href="" class="red-mBtn">特惠模型</a></div>
						</div>
					</div>
				</div>
				<div class="right-con">
					<div class="link-box">
						<span class="img"><img src="images/pro/an-wx.jpg"/></span>
						<div class="ms">
							<div class="tel">咨询热线:<span>028-82215232</span></div>
							<div class="care">
								<button class="blueBtn-line btn" id="no-b"><i class="iconfont icon-pingjiaxingxing"></i>关注</button>
								<button class="blueBtn-line btn" id="yes-b" style="display: none;"><i class="iconfont icon-pingjiaxingxing red-f"></i>已关注</button>
							</div>
							<div class="more">
								<span><a href="#">2652</a>人查看</span>
								<span><a href="#">2652</a>人预约</span>
								<span><a href="#">2652222</a>评论</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--header-meun-->
		<div class="header header-meun">
			<!--菜单-->
			<div class="navMenu">
				<div class="wrapper">
					<ul class="clearfix">
						<li><a href="#">首页</a></li>
						<li class="curr"><a href="#">公墓陵园</a></li>
						<li><a href="#">殡仪服务</a></li>
						<li><a href="#">风水堪舆</a></li>
						<li><a href="#">百科</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">特色服务</a></li>
						<li><a href="#">用品商城</a></li>
					</ul>
				</div>
			</div>
			 <!--右侧-->
			<div class="rightNav">
		        <div class="navBox">
		            <div class="centerItem">
		                <ul>
		                  	<li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontkefu"></em>客服</a>
		                        <div class="tags">
		                            <div class="tagsBox">24小时在线</div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                    	<a href="javascript:;"><em class="iconfont icon-iconfontweixin"></em>微信</a>
		                    	<div class="tags tags-ma">
		                            <div class="tagsBox"><img src="images/pro/an-wx.jpg" class="img"/></div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontdianhua"></em>电话</a>
		                        <div class="tags">
		                            <div class="tagsBox">4001234567</div>
		                        </div>
		                    </li>
		                </ul>
		            </div>
		            <div class="backToTop">
		               <a href="javascript:void(0);"><em class="iconfont icon-iconfontgotop"></em></a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--header-end-->
		<div class="site-nav">
			<div class="wrapper">
				<i class="iconfont icon-dingwei"></i><a href="">公墓之家 </a> &gt; <a href="">公墓陵园</a> &gt; 墓型展示
			</div>
		</div>
		<div class="main-con">
			<div class="wrapper">
				
				<!--banner内容-->
				<div class="banner-pro clearfix border-all">
					<div class="previewBox">
						<div class="pr-ce">
							<div id="preview" class="spec-preview"> 
								<span class="jqzoom-mag"><img jqimg="images/pro/ly-img1.jpg" src="images/pro/ly-img1.jpg"/></span> 
							</div>
						    <!--缩图开始-->
						    <div class="spec-scroll clearfix"> 
						    	<a class="prev iconfont icon-jiantou-copy" href="javascript:;"></a> 
						    	<a href="javascript:;" class="next iconfont icon-jiantou-copy1"></a>
						      <div class="items">
						        <ul>
						          <li class="curr"><img alt="佳能" bimg="images/pro/ly-img1.jpg" src="images/pro/ly-img1.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img2.jpg" src="images/pro/ly-img2.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img3.jpg" src="images/pro/ly-img3.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img1.jpg" src="images/pro/ly-img1.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img2.jpg" src="images/pro/ly-img3.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img3.jpg" src="images/pro/ly-img1.jpg" onmousemove="preview(this);"></li>
						          <li><img alt="佳能" bimg="images/pro/ly-img2.jpg" src="images/pro/ly-img2.jpg" onmousemove="preview(this);"></li>
						        </ul>
						      </div>
						    </div>
						    <!--缩图结束-->
					     </div>
					</div>
					<div class="item-inner">
						<div class="title clearfix">
							<h1 class="fl">华庭凤凰园2期 </h1>
							<div class="fl approveBox">
								<span class="sale-now sale">在售</span>
								<span class="sale-stop sale">停售</span>
							</div>
							<div class="share-btn">
					     		<a class="share-hov" href="javascript:;"><i class="iconfont icon-fenxiang"></i> 分享</a>
					     		<div class="shareCon" style="display: none;">
					     			<span class="icon-arrow"></span>
					     			<div class="share-custom">
					     				<div class="bdsharebuttonbox" data-tag="share_1">
											<a class="bds_mshare" data-cmd="mshare">一键分享</a>
											<a class="bds_qzone" data-cmd="qzone" href="#">QQ空间</a>
											<a class="bds_tsina" data-cmd="tsina">新浪微博</a>
											<a class="bds_weixin" data-cmd="weixin">微信</a>
											<a class="bds_tqq" data-cmd="tqq">腾讯微博</a>
											<a class="bds_douban" data-cmd="douban">豆瓣网</a>
											<a class="bds_copy" data-cmd="copy">复制网址</a>
										</div>
					     			</div>
					     		</div>
					     	</div>
					     	<div class="fr">累计成交额<span class="orange-f"> 2323</span>个</div>
						</div>
						<div class="info">
							<table cellpadding="0" cellspacing="0" class="table-int mt-30" style="width: 80%;">
								<tbody>
									<tr>
										<td style="width:240px">参考均价：<span>楠木园2期</span></td>
										<td style="width:240px;">墓型种类： <span>楠木园2期</span></td>
									</tr>
									<tr>
										<td>墓碑材质：<span>花岗石</span></td>
										<td>可选颜色： <span>楠木园2期</span></td>
									</tr>
									<tr>
										<td>墓型穴位：<span>一穴</span></td>
										<td>墓型特点：  <span>嗡嗡嗡额为</span></td>
									</tr>
									<tr>
										<td>墓型朝向：<span>嗡嗡嗡额为</span></td>
										<td>墓型特点： <span> 嗡嗡嗡额为</span></td>
									</tr>
								</tbody>
							</table>
							<div class="qrcode"><img src="images/pro/an-wx.jpg" width="80px"/></div>
						</div>
						<div class="feature">
							<div class="priceBox clearfix">
								<div class="new-p fl">特惠价：<small>&yen;</small><span>278288</span></div>
								<div class="old-p fl">原价：<del>782880</del><span>（不含配套）</span></div>
								<div class="other-p fr">
									<a href="" class="red-mBtn">特惠模型</a>
									<a href="" class="det-ck">查看活动详情></a>
								</div>
							</div>
							<ul class="list">
								<li><span>配  套：</span>龙脉福祉地，长城后花园</li>
								<li><span>服  务：</span>免费上门接送，预约可随时发车[爱佑汇提供]</li>
								<li><span>支  持：</span>由北京社会福利促进会、怀柔区民政局共同兴建的大型合法公墓</li>
							</ul>
							<div class="btn-info">
								<a href="" class="blueBtn">预约购墓</a>
								<a href="" class="blueBtn-line">关注墓型</a>
							</div>
							<div class="tips">温馨提示：  北京社会福利促进会秘书长李汝森任北京市九公山长城纪念林有限公司董事长，德高望重的老市长焦若愚为北京市九公山长城纪念林亲笔题词</div>
						</div>
					</div>
				</div>
				
				<div class="mt30">
					<h2><img src="images/icon/icon-3.jpg"/> 尊享专区</h2>
					<div class="flexslider slider-box1">
					  <ul class="slides">
					    <li>
							<div class="info-box row-fluid">
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
												<div class="old-price fr">原价：<del>￥92324</del></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>暂无</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
												<div class="old-price fr">原价：<del>￥92324</del></div>
											</div>
										</div>
									</div>
								</div>
							</div>
					    </li>
					   <li>
							<div class="info-box row-fluid">
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
												<div class="old-price fr">原价：<del>￥92324</del></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>暂无</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 col item">
									<div class="img-box">
										<p class="img"><a href="#"><img src="images/pro/img1.jpg" /></a></p>
									</div>
									<div class="text-box">
										<div class="title-box clearfix">
											<h3 class="fl name"><a href="#">凤凰华庭 </a></h3>
											<div class="small-name fr">已出售2324个墓位</div>
											<div class="clear"></div>
										</div>
										<div class="price-box-big">
											<div class="money-small clearfix">
												<div class="tt fl"><small class="gray-f">参考价：</small>￥<span>88343</span></div>
												<div class="old-price fr">原价：<del>￥92324</del></div>
											</div>
										</div>
									</div>
								</div>
							</div>
					    </li>
					  </ul>
					</div>
				</div>
				<div class="specific-info">
					<p>北京市怀柔区渤海镇</p>
					<p>北京市九公山长城纪念林是经北京市民政局批准，由北京社会福利促进会、怀柔区民政局共同兴建的大型合法公墓。北京社会福利促进会秘书长李汝森任北京市九公山长城纪念林有限公司董事长，德高望重的老市长焦若愚为北京市九公山长城纪念林亲笔题词。</p>
					<p>北京市怀柔区渤海镇</p>
					<p>北京市九公山长城纪念林是经北京市民政局批准，由北京社会福利促进会、怀柔区民政局共同兴建的大型合法公墓。北京社会福利促进会秘书长李汝森任北京市九公山长城纪念林有限公司董事长，德高望重的老市长焦若愚为北京市九公山长城纪念林亲笔题词。</p>
				</div>
				<div class="ly-lr-con clearfix">
					<!--左侧评价-->
					<div class="left-con border-all">
						<h1 class="title">墓型评价</h1>
						<div class="evaluate-con">
							<div class="m-content round-row">
								<div class="col col-30 rate">97%</div>
								<div class="col col-30 percent">
									<dl>
										<dt>好评 （89%）</dt>
										<dd><div style="width:80%;"></div></dd>
									</dl>
									<dl>
										<dt>中评 （8%）</dt>
										<dd><div style="width: 10%;"></div></dd>
									</dl>
									<dl>
										<dt>差评 （9%）</dt>
										<dd><div style="width: 5%;"></div></dd>
									</dl>
								</div>
								<div class="col col-40 column clearfix">
									<div class="labe">墓型印象：</div>
									<ul class="clearfix lineBtn-evaluate">
										<li><a href="#">大气复古</a></li>
										<li><a href="#">大气复古</a></li>
										<li><a href="#">大气复古</a></li>
										<li><a href="#">大气复古</a></li>
										<li><a href="#">大气复古</a></li>
										<li><a href="#">大气复古</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="comments-list tab-conmments">
							<ul class="nav-tab">
								<li class="curr">全部</li>
								<li>好评</li>
								<li>中评</li>
								<li>差评</li>
							</ul>
							<div class="tab-con">
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											全部评论：环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							<div class="tab-con" style="display: none;">
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											好评：环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-con" style="display: none;">
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											中评：环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-con" style="display: none;">
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											差评：环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="user-img"><a href="#" class="bor"><img src="images/pro/img7.jpg"></a></div>
									<div class="user-comment">
										<div class="round-row">
											<div class="col col-60">
												<dl class="star star-ly">
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingjiaxingxing"></dd>
													<dd class="iconfont icon-pingfenxingban"></dd>
													<dd class="iconfont icon-pingjiaxingxing1"></dd>
												</dl>
											</div>
											<div class="col col-40 ar time">
												<span>2016-04-26</span> <span>12:34:23</span>    
											</div>
										</div>
										<div class="p-comment">
											环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好环境非常好，环境非常好环境
										</div>
										<ul class="clearfix lineBtn-evaluate">
											<li><a href="#">大气复古</a></li>
											<li><a href="#">大气复古</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tcdPageCode" style="margin: 40px 0 20px 0;">
							<span class="pageB disabled">46条纪录</span>
							<span class="current">1</span>
							<a href="javascript:void(0);" class="tcdNumber">2</a>
							<a href="javascript:void(0);" class="tcdNumber">3</a>
							<a href="javascript:void(0);" class="tcdNumber">4</a>
							<a href="javascript:void(0);" class="tcdNumber">5</a>
							<a href="javascript:void(0);" class="pageB nextPage">下一页</a>
						</div>
					</div>
					<!--右侧内容-->
					<div class="sideBar border-all">
						<div class="rate-list">
							<h2><img src="images/icon/icon-3.jpg"/> 墓型推荐</h2>
							<div class="item">
								<div class="img">
									<span class="tag red-bg">1</span>
									<a href="#"><img src="images/pro/img1.jpg"/></a>
								</div>
								<div class="title clearfix">
									<h3 href="" class="name fl">凤凰华庭</h3>
									<span class="teH-tp fl">特惠</span>
									<a href="" class="fr">详情>></a>
								</div>
								<div class="price clearfix">
									<div class="new-p fl">特惠价：<span>&yen;<big>88343</big></span></div>
									<div class="old-p fr">原价：<del>&yen;932345</del></div>
								</div>
							</div>
							<div class="item">
								<div class="img">
									<span class="tag orange-bg">2</span>
									<a href="#"><img src="images/pro/img1.jpg"/></a>
								</div>
								<div class="title clearfix">
									<h3 href="" class="name fl">凤凰华庭</h3>
									<span class="teH-tp fl">特惠</span>
									<a href="" class="fr">详情>></a>
								</div>
								<div class="price clearfix">
									<div class="new-p fl">特惠价：<span>&yen;<big>88343</big></span></div>
									<div class="old-p fr">原价：<del>&yen;932345</del></div>
								</div>
							</div>
							<div class="item">
								<div class="img">
									<span class="tag blue-bg">3</span>
									<a href="#"><img src="images/pro/img1.jpg"/></a>
								</div>
								<div class="title clearfix">
									<h3 href="" class="name fl">凤凰华庭</h3>
									<span class="teH-tp fl">特惠</span>
									<a href="" class="fr">详情>></a>
								</div>
								<div class="price clearfix">
									<div class="new-p fl">特惠价：<span>&yen;<big>88343</big></span></div>
									<div class="old-p fr">原价：<del>&yen;932345</del></div>
								</div>
							</div>
							<div class="item">
								<div class="img">
									<span class="tag blue-bg">4</span>
									<a href="#"><img src="images/pro/img1.jpg"/></a>
								</div>
								<div class="title clearfix">
									<h3 href="" class="name fl">凤凰华庭</h3>
									<span class="teH-tp fl">特惠</span>
									<a href="" class="fr">详情>></a>
								</div>
								<div class="price clearfix">
									<div class="new-p fl">特惠价：<span>&yen;<big>88343</big></span></div>
									<div class="old-p fr">原价：<del>&yen;932345</del></div>
								</div>
							</div>
							<div class="item">
								<div class="img">
									<span class="tag blue-bg">5</span>
									<a href="#"><img src="images/pro/img1.jpg"/></a>
								</div>
								<div class="title clearfix">
									<h3 href="" class="name fl">凤凰华庭</h3>
									<span class="teH-tp fl">特惠</span>
									<a href="" class="fr">详情>></a>
								</div>
								<div class="price clearfix">
									<div class="new-p fl">特惠价：<span>&yen;<big>88343</big></span></div>
									<div class="old-p fr">原价：<del>&yen;932345</del></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="gm-ensure">
					<div class="round-row">
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon1.jpg"/>
							<h3>独家优惠</h3>
							<p>优惠信息100%真实</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>信息全面</h3>
							<p>涵盖最全公墓信息</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>专业服务</h3>
							<p>最优秀的顾问团队</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>万千口碑</h3>
							<p>万千家属的共同选择</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>诚信经营</h3>
							<p>所有交易公平透明</p>
						</div>
					</div>
				</div>
				<!--热门城市-->	
				<div class="friend-link mt40">
					<h2>热门城市</h2>
					<div class="link-more link-bg">
						<a href="#">北京</a>
						<a href="#">上海</a>
						<a href="#">重庆</a>
						<a href="#">天津</a>
						<a href="#">广州</a>
						<a href="#">深圳</a>
						<a href="#">佛山</a>
						<a href="#">东莞</a>
						<a href="#">中山</a>
						<a href="#">韶关</a>
						<a href="#">珠海</a>
						<a href="#">汕头</a>
						<a href="#">江门</a>
						<a href="#">湛江</a>
						<a href="#">茂名</a>
					</div>
				</div>

			</div>
		</div>
		</div>
		<div class="footer">
			<div class="wrapper clearfix">
				<div class="col-fl tips-note">
					<dl>
						<dt>平台功能</dt>
						<dd><a href="#">天使服务</a></dd>
						<dd><a href="#">生前契约 </a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>服务指南</dt>
						<dd><a href="#">服务预约流程</a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>商家合作</dt>
						<dd><a href="#">合作流程</a></dd>
						<dd><a href="#">合作政策</a></dd>
						<dd><a href="#">商家评级体系</a></dd>
					</dl>
				</div>
				<div class="col-fl media-box">
					<div class="weixin media-icon">
						<em class="iconfont icon-weixin"></em>
						微信公众号
					</div>
					<div class="weixin media-icon">
						<em class="iconfont icon-weibo"></em>
						官方微博
					</div>
				</div>
				<div class="col-fl e-wm">
					<div class="img">
						<img src="images/pro/an-wx.jpg"/>
					</div>
					<p>至终守护 &nbsp; &nbsp; 温暖如家</p>
				</div>
				
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p class="mb5">copyright2012-2016  公墓之家，ALLRights  Reserved  ICP备案：蜀ICP备140009697号-2</p>
				<img src="images/icon/footer.jpg" />
			</div>
		</div>
		<!--产品图片切换插件-->
	    <link rel="stylesheet" type="text/css" href="script/jqzoom/jqzoom.css"/>
	    <script type="text/javascript" src="script/jqzoom/jquery.jqzoom.js"></script>
		<script type="text/javascript" src="script/jqzoom/jqbase.js"></script>
		<script type="text/javascript" src="script/jquery.flexslider-min.js"></script>
		
		<script type="text/javascript">
			$(window).load(function() {
			  $('.slider-box1').flexslider({animation: "slide",controlNav:false,animationLoop: false,});
			});
			$(function(){
				$(".items ul li").hover(function(){
					$(".items ul li").removeClass("curr");
					$(this).addClass("curr");
				})
			});
			$("#no-b").click(function(){
				$(this).hide();
				$("#yes-b").show();
			});
			//分享收藏
		  $('.share-btn').hover(function(){
		        $(this).find('.shareCon').stop(true,true).fadeIn(200);
		    },function(){
		        $(this).find('.shareCon').stop(true,true).fadeOut(200);
		   });
		   //评论
		   $(function(){
                tabSwitchClick('.tab-conmments','.nav-tab li','.tab-con');
            });
		</script>
		<script>
			//分享自定义内容
			window._bd_share_config = {
				common : {
					bdText : '222222分享标题',	
					bdDesc : 'xxxxx分享内容',	
					bdUrl : '自定义分享url地址', 	
					bdPic : '自定义分享图片'
				},
				share : [{
					"bdSize" : 14
				}],
			}
			
		</script>
	<script>
			with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</body>
	
</html>
