<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=8" >
		<title>公墓陵园</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="images/icon/gm-favicon.ico">
		<link href="css/bese.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="script/UI.js"></script>
		<script type="text/javascript" src="script/commen.js"></script>
        <!--scrollbar-->
       <script type="text/javascript" src="script/slimscroll/jquery.slimscroll.js"></script>
	</head>
	<body>
		<div class="header header-topNav">
			<div class="topNav">
				<div class="wrapper clearfix">
					<div class="topNav_l">
						<ul>
							<li><a href=""><img src="images/icon/logo.png" width="100px"/></a></li>
				            <li><a href="">首页 </a></li>
				            <li><a href="">公墓/陵园</a></li>
				            <li><a href="">殡仪服务</a></li>
				            <li><a href="">风水堪舆</a></li>
				            <li><a href="">百科 </a></li>
				            <li><a href="">文章</a></li>
				            <li><a href="">特色服务</a></li>
						</ul>
					</div>
				<!--登陆注册类-->
	            <ul class="topNav_r clearfix">
	            	<li><a href="">登录</a></li>
		            <li><a href="">注册</a></li>
		            <li class="userBox hide"><p class="g9">你好，<span class="userName">xxxx</span></p></li>
		            <li class="exit line-r hide"><a href="">退出</a></li>
	                <li class="service-peo noBag">
	                    <a href="javascript:;" class="servBtn">客户服务<span class="iconfont icon-iconfonticonfontjiantoucopy icon-up"></span><span class="iconfont icon-iconfonticonfontjiantou2 icon-down"></span></a>
	                    <div class="serviceBox">
	                        <div class="tit blue-f">咨询热线：40086-95522</div>
	                        <ul class="clearfix">
	                        	<li><a href="#"><em class="iconfont icon-iconfonttuanduicheng"></em><span>关于我们</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontweibiaoti5"></em><span>特色服务</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontliuyanban"></em><span>客户留言</span></a></li>
	                        </ul>
	                        <div class="sm">
	                        	<img src="images/pro/an-wx.jpg" class="fl"/>
	                        	<div class="tt fr pt15">
	                        		扫描二维码 <br/>关注官方微信
	                        	</div>
	                        </div>
	                    </div>
	                </li>
	            </ul>
				</div>
			</div>
		</div>
		<div class="header header-logoSearch">
			<div class="logo-search">
				<div class="wrapper clearfix">
					<div class="logo pt15">
						<a href=""><img src="images/icon/ly-logo.png"/></a>
					</div>
					<div class="city-box">
						<div class="changeCity" id="changeCity">
		                    <div class="bgDiv"></div>
		                    <div class="citys">
		                        <span class="cityName">北京 <span class="changeCityTag">[切换城市]</span></span>
		                    </div>
		                    <div class="item-CityList">
		                        <div class="cl-h">请选择所在的收货城市</div>
		                        <div class="cl-b">
		                            <ul class="cf">
		                                <li><a href="javascript:void(0);">北京</a></li>
		                                <li><a href="javascript:void(0);">上海</a></li>
		                                <li><a href="javascript:void(0);">广州</a></li>
		                                <li><a href="javascript:void(0);">南京</a></li>
		                                <li><a href="javascript:void(0);">深圳</a></li>
		                                <li class="active"><a href="javascript:void(0);">成都</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
					</div>
					<div class="searchBox">
						<div class="select-list">
							<select id="select-opt">
								<option>陵园墓地</option>
								<option value="1">陵园墓地1</option>
								<option value="2">陵园墓地2</option>
								<option value="3" selected>陵园墓地3</option>
								<option value="4">陵园墓地4</option>
							</select>
						</div>
						<div class="input-text">
							<input class="form-control" type="search" placeholder="请输入你是搜索的关键词"/>

						</div>
						<div class="search-btn">
							<input type="button" value="搜索" class="searchBtn"/>
						</div>
					</div>
					<div class="phone-number blue-f clearfix">
						<span class="iconfont icon-iconfontdianhua icon-dh"></span>
						<div class="info">
							<p>全国24小时服务热线</p>
							<p class="nu">4001234567</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header header-meun">
			<!--菜单-->
			<div class="navMenu">
				<div class="wrapper">
					<ul class="clearfix">
						<li><a href="#">首页</a></li>
						<li class="curr"><a href="#">公墓陵园</a></li>
						<li><a href="#">殡仪服务</a></li>
						<li><a href="#">风水堪舆</a></li>
						<li><a href="#">百科</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">特色服务</a></li>
						<li><a href="#">用品商城</a></li>
					</ul>
				</div>
			</div>
			 <!--右侧-->
			<div class="rightNav">
		        <div class="navBox">
		            <div class="centerItem">
		                <ul>
		                  	<li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontkefu"></em>客服</a>
		                        <div class="tags">
		                            <div class="tagsBox">24小时在线</div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                    	<a href="javascript:;"><em class="iconfont icon-iconfontweixin"></em>微信</a>
		                    	<div class="tags tags-ma">
		                            <div class="tagsBox"><img src="images/pro/an-wx.jpg" class="img"/></div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontdianhua"></em>电话</a>
		                        <div class="tags">
		                            <div class="tagsBox">4001234567</div>
		                        </div>
		                    </li>
		                </ul>
		            </div>
		            <div class="backToTop">
		               <a href="javascript:void(0);"><em class="iconfont icon-iconfontgotop"></em></a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--header-end-->
		<div class="site-nav">
			<div class="wrapper">
				<i class="iconfont icon-dingwei"></i><a href="">公墓之家 </a> &gt; <a href="">公墓陵园</a> &gt; 预约看墓购墓
			</div>
		</div>
		
		<div class="main-con">
			<div class="wrapper">
				<div class="ly-lr-con clearfix">
					<div class="left-con border-all">
						<h1 class="title">预约看墓/购墓</h1>
						<div class="five-boxList clearfix ptb40">
							<div class="item">
								<div class="w-bg"><span class="iconfont icon-youhui"></span></div>
								<div class="tx">由公墓之家联合墓区特别推出团购活动</div> 
							</div>
							<div class="item">
								<div class="w-bg"><span class="iconfont icon-icon15"></span></div>
								<div class="tx">提供免费专业咨询服务设计购墓方案</div> 
							</div>
							<div class="item">
								<div class="w-bg"><span class="iconfont icon-icon17"></span></div>
								<div class="tx">免费专车上门接送</div> 
							</div>
							<div class="item">
								<div class="w-bg"><span class="iconfont icon-icon19"></span></div>
								<div class="tx">全程陪同指导</div> 
							</div>
							<div class="item">
								<div class="w-bg"><span class="iconfont icon-tuan"></span></div>
								<div class="tx">享团购优惠</div> 
							</div>
						</div>
						<div class="bor-tb mrl20 re">
							<div class="inputBox">
								<div class="it-input">
									<label><span class="orange-f">*</span> 姓  名：</label>
									<div class="txt">
										<input type="text" value="" placeholder="请输入你的姓名" class="form-control-input"/>
									</div>
								</div>
								<div class="it-input">
									<label><span class="orange-f">*</span> 联系电话：</label>
									<div class="txt">
										<input type="text" value="" placeholder="请输入你的手机号" class="form-control-input"/>
									</div>
								</div>
								<div class="it-input">
									<label><span class="orange-f"></span> 预购墓地：</label>
									<div class="txt">
										<div class="up-img">
											<a href="javascript:;" class="up-imgBtn orangBtn" id="seclectbtn">选择</a>
                        					<span>（最多选择3个）</span>
                        					<div class="selectStore_modal">
                        						<span class="iconfont icon-guanbi closeBtn" id="close-modal"></span>
                        						<div class="item-labe">
                        							<div class="labe">区域：</div>
                        							<div class="info">
                        								<ul class="clearfix hov-bg">
                        									<li class="curr"><a href="javascript:;">不限 </a></li>
															<li><a href="javascript:;">武侯区  </a></li>
															<li><a href="javascript:;">锦江区</a></li>
															<li><a href="javascript:;">成华区</a></li>
															<li><a href="javascript:;">金牛区</a></li>
															<li><a href="javascript:;">温江区</a></li>
															<li><a href="javascript:;">龙泉驿区</a></li>
															<li><a href="javascript:;">青白江区</a></li>
															<li><a href="javascript:;">新都区</a></li>
															<li><a href="javascript:;">双流县</a></li>
															<li><a href="javascript:;">金堂县</a></li>
															<li><a href="javascript:;">郫县</a></li>
															<li><a href="javascript:;">大邑县</a></li>
															<li><a href="javascript:;">浦江县</a></li>
															<li><a href="javascript:;">都江堰市</a></li>
															<li><a href="javascript:;">邛崃市</a></li>
															<li><a href="javascript:;">崇州市</a></li>
														</ul>
                        							</div>
                        						</div>
                        						<div class="select-condition">
                        							<ul class="clearfix">
                        								<li><span class="selected"></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        								<li><span></span> 长松寺公墓</li>
                        							</ul>
                        						</div>
                        						<div class="item-labe">
                        							<div class="labe">已选:</div>
                        							<div class="info">
                        								<div class="closeCon" style="margin: 0;">
															<a href="javascript:;">长松寺公墓1<i class="iconfont icon-iconfontcha"></i></a>
															<a href="javascript:;">长松寺公墓2<i class="iconfont icon-iconfontcha"></i></a>
															<a href="javascript:;">长松寺公墓3<i class="iconfont icon-iconfontcha"></i></a>
														</div>
														<div class="colseAll" id="colseAll">
															<a href="javascript:;">清空</a>
														</div>
														<p class="mt10 font-12">(最多选择3个墓地)</p>
                        							</div>
                        						</div>
                        						<div class="sureBtn ac mt15"><button class="redBtn">确定</button></div>
                        					</div>
										</div>
										<div class="closeCon">
											<span>不限</span>
											<a href="javascript:;">长松寺公墓1<i class="iconfont icon-iconfontcha"></i></a>
											<a href="javascript:;">长松寺公墓2<i class="iconfont icon-iconfontcha"></i></a>
											<a href="javascript:;">长松寺公墓3<i class="iconfont icon-iconfontcha"></i></a>
										</div>
									</div>
								</div>
								<div class="it-input">
									<label><span class="orange-f"></span> 您的要求：</label>
									<div class="txt">
										<textarea class="form-control-teare" rows="6" id="textArea"></textarea>
									</div>
								</div>
								<div class="it-input">
									<label><span class="orange-f">*</span> 验证码：</label>
									<div class="txt">
										<input type="text" value="" placeholder="" class="form-control-input" style="width: 135px;"/>
										<input type="button" id="btn" value="发送验证码/60s后重新发送"  class="sende-time"/> 
									</div>
								</div>
								<div class="it-input">
									<div class="txt">
										<button class="redBtn btn">确认预约</button>
									</div>
								</div>
								<div class="tips">
									温馨提示：为了你更好申请我们的公墓活动优惠，为了你更好申请我们的公墓活动优惠。<br/>为了你更好申请我们的公墓活动优惠，为了你更好申请我们的公墓活动优惠。
								</div>
							</div>
						</div>
						
						<div class="Top_Record mrl20">
							<h3>最新预约</h3>
							<div class="maquee">
						 		<ul>
						 			<li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">张**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li> 
					                <li>
					                    <div class="use"><i class="iconfont icon-nantouxiang"></i></div>
					                    <div class="name">王**</div>
					                    <div class="num">156******** </div>
					                    <div class="time"> 2016-9-25 &nbsp;&nbsp;13:03:42</div>
					                </li>
						 		</ul>
						 	</div>
						</div>
						

					</div>
					<!--右侧内容-->
					<div class="sideBar">
						<h2 class="clearfix"><span class="l-t">优质墓地排行榜</span> <a href="#" class="more-link-s fr">更多 ></a></h2>
						<div class="info">
							<div class="title-img">
								<div class="round-row">
									<div class="col col-40">
										<span class="red-bg rank-c">1</span>
										<img src="images/pro/ly-img13.jpg" />
									</div>
									<div class="col col-60">
										<div class="pl10">墓地风水</div>
										<div class="pl10 orange-f mt5">￥88343起</div>
										<div class="pl10 font-12 ellipsis-f">天然如龙之九子,中国传统治</div>
									</div>
								</div>
							</div>
							<ul class="list list-no">
								<li><span class="orange-bg rank-c">2</span><a href="#">中国传统治丧传统中国传统治丧传统中国传中国传统治</a></li>
								<li><span class="orange-bg rank-c">3</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">4</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">5</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">6</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">7</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><span class="blue-bg rank-c">8</span><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
							</ul>
						</div>
						<h2 class="clearfix"><span class="l-t">墓地风水</span> <a href="#" class="more-link-s fr">更多 ></a></h2>
						<div class="info">
							<div class="title-img">
								<img src="images/pro/ly-img10.jpg" />
								<div class="t">中国传统治丧传统中国传统治丧传统中国传</div>
							</div>
							<ul class="list">
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传中国传统治</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
								<li><a href="#">中国传统治丧传统中国传统治丧传统中国传</a></li>
							</ul>
						</div>
						<div class="info-ad">
							<a href=""><img src="images/pro/ly-img7.jpg"/></a>
							<a href=""><img src="images/pro/ly-img8.jpg"/></a>
						</div>
					</div>
				</div>
				
				
				<!--友情链接-->
				<div class="friend-link mt40">
					<h2>友情链接</h2>
					<div class="link-more">
						<a href="#">四川殡葬 </a>
						<a href="#">绵阳殡葬</a>
						<a href="#">重庆殡葬</a>
						<a href="#">开阳殡葬</a>
						<a href="#">西安殡葬</a>
						<a href="#">舟山殡葬</a>
						<a href="#">淮海殡葬</a>
						<a href="#">北海殡葬</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrapper clearfix">
				<div class="col-fl tips-note">
					<dl>
						<dt>平台功能</dt>
						<dd><a href="#">天使服务</a></dd>
						<dd><a href="#">生前契约 </a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>服务指南</dt>
						<dd><a href="#">服务预约流程</a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>商家合作</dt>
						<dd><a href="#">合作流程</a></dd>
						<dd><a href="#">合作政策</a></dd>
						<dd><a href="#">商家评级体系</a></dd>
					</dl>
				</div>
				<div class="col-fl media-box">
					<div class="weixin media-icon">
						<em class="iconfont icon-weixin"></em>
						微信公众号
					</div>
					<div class="weixin media-icon">
						<em class="iconfont icon-weibo"></em>
						官方微博
					</div>
				</div>
				<div class="col-fl e-wm">
					<div class="img">
						<img src="images/pro/an-wx.jpg"/>
					</div>
					<p>至终守护 &nbsp; &nbsp; 温暖如家</p>
				</div>
				
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p class="mb5">copyright2012-2016  公墓之家，ALLRights  Reserved  ICP备案：蜀ICP备140009697号-2</p>
				<img src="images/icon/footer.jpg" />
			</div>
		</div>
		<!--下拉菜单-->
		<link href="script/select/selectpick.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/select/selectpick.js"></script>
		<script type="text/javascript">
		//下拉选择
			$("#select-opt").selectpick({container:'.select-list',onSelect:function(value,text){
				enAble();}
			});
			
			//多行文本输入框内容
			$(function(){ 
				var textArea = document.getElementById("textArea");
				textArea.value = "请输入你的要求，以便公墓之家顾问为您推荐合适墓型";
				textArea.style.color = "#999999"; 
			});
			//发送验证码倒计时
			var wait = 5;
	        function time(btn) {
	            if (wait == 0) {
	                btn.removeAttribute("disabled");
	                btn.value = "重新免费获取验证码";
	                btn.style.color = "#49a6b8";
	                wait = 5;
	            } else {
	                btn.setAttribute("disabled", true);
	                btn.value = wait + "秒后重新获取验证码";
	                btn.style.color = "#999999";
	                wait--;
	                setTimeout(function () {
	                    time(btn);
	                },
	                1000)
	            }
	        }
	        document.getElementById("btn").onclick=function(){time(this);};
	        //滚动展示
	        $(function(){  
				setInterval('autoScroll(".maquee")',3000);
			});
			//联动下拉菜单交互
            $('.select-condition ul').slimscroll({ opacity:1, size : 4/*,railVisible:true*/, color:'#707070', railColor:'#e3e3e3', railVisible:true, railOpacity:1});
            //条件选择
            $(".select-condition li span").click(function(){
            	if($(this).hasClass('selected')){
                     $(this).removeClass("selected");
                }else{
                     $(this).addClass("selected");    
                }
			});
			//弹窗内容交互
			$("#seclectbtn").click(function(){
				$(".selectStore_modal").toggle();
			});
			$("#close-modal").click(function(){
				$(".selectStore_modal").hide();
			});
			$(".closeCon a") .click(function(){
				$(this).remove();
			});
			$("#colseAll a").click(function(){
				$(this).parents("#colseAll").prev(".closeCon").remove();
			});
			$(".hov-bg li").click(function(){
				$(this).addClass("curr").siblings(".hov-bg li").removeClass("curr");
			});
		</script>
	</body>
	
</html>
