<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=8" >
		<title>公墓陵园</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="images/icon/gm-favicon.ico">
		<link href="css/bese.css" rel="stylesheet" type="text/css" />
		<link href="css/index.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="script/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="script/UI.js"></script>
		<script type="text/javascript" src="script/commen.js"></script>
    </head>
	<body>
		<!--header-top-->
		<div class="header header-topNav">
			<div class="topNav">
				<div class="wrapper clearfix">
					<div class="topNav_l">
						<ul>
							<li><a href=""><img src="images/icon/logo.png" width="100px"/></a></li>
				            <li><a href="">首页 </a></li>
				            <li><a href="">公墓/陵园</a></li>
				            <li><a href="">殡仪服务</a></li>
				            <li><a href="">风水堪舆</a></li>
				            <li><a href="">百科 </a></li>
				            <li><a href="">文章</a></li>
				            <li><a href="">特色服务</a></li>
						</ul>
					</div>
				<!--登陆注册类-->
	            <ul class="topNav_r clearfix">
	            	<li><a href="">登录</a></li>
		            <li><a href="">注册</a></li>
		            <li class="userBox hide"><p class="g9">你好，<span class="userName">xxxx</span></p></li>
		            <li class="exit line-r hide"><a href="">退出</a></li>
	                <li class="service-peo noBag">
	                    <a href="javascript:;" class="servBtn">客户服务<span class="iconfont icon-iconfonticonfontjiantoucopy icon-up"></span><span class="iconfont icon-iconfonticonfontjiantou2 icon-down"></span></a>
	                    <div class="serviceBox">
	                        <div class="tit blue-f">咨询热线：40086-95522</div>
	                        <ul class="clearfix">
	                        	<li><a href="#"><em class="iconfont icon-iconfonttuanduicheng"></em><span>关于我们</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontweibiaoti5"></em><span>特色服务</span></a></li>
	                        	<li><a href="#"><em class="iconfont icon-iconfontliuyanban"></em><span>客户留言</span></a></li>
	                        </ul>
	                        <div class="sm">
	                        	<img src="images/pro/an-wx.jpg" class="fl"/>
	                        	<div class="tt fr pt15">
	                        		扫描二维码 <br/>关注官方微信
	                        	</div>
	                        </div>
	                    </div>
	                </li>
	            </ul>
				</div>
			</div>
		</div>
		<!--顶部推荐-->
		<div class="recommend-top clearfix">
			<div class="wrapper">
				<div class="left-con">
					<div class="round-row">
						<div class="col col-30"><img src="images/pro/recommend-topimg.jpg"/></div>
						<div class="col col-50">
							<div class="tit clearfix">
								<h3 class="fl ellipsis-f name">长松寺公墓</h3>
								<dl class="star fl star-ly">
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingjiaxingxing"></dd>
									<dd class="iconfont icon-pingfenxingban"></dd>
									<dd class="iconfont icon-pingjiaxingxing1"></dd>
									<dt>4.6</dt>
								</dl>
								<div class="fr approveBox">
									<span class="orangeBtn-line btn">认证</span>
									<span class="greenBtn-line btn">优惠</span>
									<span class="redBtn-line btn">团购</span>
								</div>
							</div>
							<div class="themBtn mt15"><a href="" class="blueBtn-line btn">唐风主题公墓</a></div>
							<div class="mt15"><a href="">官网> </a></div>
						</div>
						<div class="col col-20 groupBtn">
							<div class="btn"><a href="" class="green-gBtn">团购活动</a></div>
							<div class="btn"><a href="" class="red-mBtn">特惠模型</a></div>
						</div>
					</div>
				</div>
				<div class="right-con">
					<div class="link-box">
						<span class="img"><img src="images/pro/an-wx.jpg"/></span>
						<div class="ms">
							<div class="tel">咨询热线:<span>028-82215232</span></div>
							<div class="care">
								<button class="blueBtn-line btn" id="no-b"><i class="iconfont icon-pingjiaxingxing"></i>关注</button>
								<button class="blueBtn-line btn" id="yes-b" style="display: none;"><i class="iconfont icon-pingjiaxingxing red-f"></i>已关注</button>
							</div>
							<div class="more">
								<span><a href="#">2652</a>人查看</span>
								<span><a href="#">2652</a>人预约</span>
								<span><a href="#">2652222</a>评论</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--header-meun-->
		<div class="header header-meun">
			<!--菜单-->
			<div class="navMenu">
				<div class="wrapper">
					<ul class="clearfix">
						<li><a href="#">首页</a></li>
						<li class="curr"><a href="#">公墓陵园</a></li>
						<li><a href="#">殡仪服务</a></li>
						<li><a href="#">风水堪舆</a></li>
						<li><a href="#">百科</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">特色服务</a></li>
						<li><a href="#">用品商城</a></li>
					</ul>
				</div>
			</div>
			 <!--右侧-->
			<div class="rightNav">
		        <div class="navBox">
		            <div class="centerItem">
		                <ul>
		                  	<li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontkefu"></em>客服</a>
		                        <div class="tags">
		                            <div class="tagsBox">24小时在线</div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                    	<a href="javascript:;"><em class="iconfont icon-iconfontweixin"></em>微信</a>
		                    	<div class="tags tags-ma">
		                            <div class="tagsBox"><img src="images/pro/an-wx.jpg" class="img"/></div>
		                        </div>
		                    </li>
		                    <li class="itemH">
		                        <a href="javascript:;"><em class="iconfont icon-iconfontdianhua"></em>电话</a>
		                        <div class="tags">
		                            <div class="tagsBox">4001234567</div>
		                        </div>
		                    </li>
		                </ul>
		            </div>
		            <div class="backToTop">
		               <a href="javascript:void(0);"><em class="iconfont icon-iconfontgotop"></em></a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--header-end-->
		<div class="main-con">
			<div class="wrapper">
				<div class="supper-man border-all">
					<h1 class="title">园区名人</h1>
					<div class="man-list">
						<ul class="clearfix" id="famousList">
							<li>
								<a href="javascript:;" class="pop-windows" supNumber="1">
									<div class="img"><img src="images/pro/ly-img20.jpg"/></div>
									<div class="info">
										<div class="title">刘德一</div>
										<div class="des">巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="pop-windows" supNumber="2">
									<div class="img"><img src="images/pro/ly-img20.jpg"/></div>
									<div class="info">
										<div class="title">刘德二</div>
										<div class="des">巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="pop-windows" supNumber="3">
									<div class="img"><img src="images/pro/ly-img20.jpg"/></div>
									<div class="info">
										<div class="title">刘德三</div>
										<div class="des">巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="pop-windows" supNumber="4">
									<div class="img"><img src="images/pro/ly-img20.jpg"/></div>
									<div class="info">
										<div class="title">刘德四</div>
										<div class="des">巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长巴蜀笑星哈儿师长</div>
									</div>
								</a>
							</li>
						</ul>
						<div class="tcdPageCode" style="margin: 40px 0 20px 0;">
							<span class="pageB disabled">46条纪录</span>
							<span class="current">1</span>
							<a href="javascript:void(0);" class="tcdNumber">2</a>
							<a href="javascript:void(0);" class="tcdNumber">3</a>
							<a href="javascript:void(0);" class="tcdNumber">4</a>
							<a href="javascript:void(0);" class="tcdNumber">5</a>
							<a href="javascript:void(0);" class="pageB nextPage">下一页</a>
						</div>
					</div>
				</div>
				
				<div class="gm-ensure">
					<div class="round-row">
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon1.jpg"/>
							<h3>独家优惠</h3>
							<p>优惠信息100%真实</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>信息全面</h3>
							<p>涵盖最全公墓信息</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>专业服务</h3>
							<p>最优秀的顾问团队</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>万千口碑</h3>
							<p>万千家属的共同选择</p>
						</div>
						<div class="col-20 col item">
							<img src="images/icon/ensure-icon2.jpg"/>
							<h3>诚信经营</h3>
							<p>所有交易公平透明</p>
						</div>
					</div>
				</div>
				<!--热门城市-->	
				<div class="friend-link mt40">
					<h2>热门城市</h2>
					<div class="link-more link-bg">
						<a href="#">北京</a>
						<a href="#">上海</a>
						<a href="#">重庆</a>
						<a href="#">天津</a>
						<a href="#">广州</a>
						<a href="#">深圳</a>
						<a href="#">佛山</a>
						<a href="#">东莞</a>
						<a href="#">中山</a>
						<a href="#">韶关</a>
						<a href="#">珠海</a>
						<a href="#">汕头</a>
						<a href="#">江门</a>
						<a href="#">湛江</a>
						<a href="#">茂名</a>
					</div>
				</div>

			</div>
		</div>
		</div>
		<div class="footer">
			<div class="wrapper clearfix">
				<div class="col-fl tips-note">
					<dl>
						<dt>平台功能</dt>
						<dd><a href="#">天使服务</a></dd>
						<dd><a href="#">生前契约 </a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>服务指南</dt>
						<dd><a href="#">服务预约流程</a></dd>
						<dd><a href="#">在线告别式 </a></dd>
						<dd><a href="#">二维码扫墓</a></dd>
						<dd><a href="#">特色服务</a></dd>
					</dl>
					<dl>
						<dt>商家合作</dt>
						<dd><a href="#">合作流程</a></dd>
						<dd><a href="#">合作政策</a></dd>
						<dd><a href="#">商家评级体系</a></dd>
					</dl>
				</div>
				<div class="col-fl media-box">
					<div class="weixin media-icon">
						<em class="iconfont icon-weixin"></em>
						微信公众号
					</div>
					<div class="weixin media-icon">
						<em class="iconfont icon-weibo"></em>
						官方微博
					</div>
				</div>
				<div class="col-fl e-wm">
					<div class="img">
						<img src="images/pro/an-wx.jpg"/>
					</div>
					<p>至终守护 &nbsp; &nbsp; 温暖如家</p>
				</div>
				
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p class="mb5">copyright2012-2016  公墓之家，ALLRights  Reserved  ICP备案：蜀ICP备140009697号-2</p>
				<img src="images/icon/footer.jpg" />
			</div>
		</div>
		<!--弹窗-->
		<script type="text/javascript" src="script/jquery.alertWindow.js"></script>
		<script type="text/javascript">
		//弹出本数据内容
		var famousNode = document.getElementById("famousList");
		var famousListNode = famousNode.getElementsByTagName("li");
		for (var i = 0; i < famousListNode.length; i++) {
			famousListNode[i].onclick = function(){
				jQuery.alertWindow($(this).find('img').attr('src'),$(this).find('.title').text(),$(this).find('.des').text());
			}
		}
		
		//弹出调用json数据内容
			/*$(function(){
		        $(".pop-windows").click(function(){
		            var Num =$(this).attr("supNumber");
		           var useItem = usePro(Num);
		        });
		        function usePro(obj){
		        	$.ajax({
		        		url:"data.json",
		        		success:function(data,e){
		        			for (var i = 0; i < data.length; i++) {
		        				data[i];
		        				if(obj==data[i].supNumber){
		        					jQuery.alertWindow(data[i].useImg,data[i].title,data[i].content);
		        				}
		        			}
		        		}
		        	})
		        }
		    });*/
		    //关注
			$("#no-b").click(function(){
				$(this).hide();
				$("#yes-b").show();
			});
		</script>
	</body>
	
</html>
